*.SaveRAM
BizHawk-1.6.1/Gameboy/State/Pokemon - Red Version (USA, Europe).QuickSave2.State
BizHawk-1.6.1/Gameboy/SaveRAM/Pokemon - Red Version (USA, Europe).SaveRAM.bak
*.bak
*.lss
BizHawk-1.6.1/Gameboy/SaveRAM/Pokemon - Red Version (USA, Europe).SaveRAM
*.bak